 
*.a
*.sw*
*.vscode/
*.cmake
results.txt
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc

witness_node_data_dir
programs/witness_node/witness_node_data_dir
programs/witness_node/my-wallet.json

libraries/fc
libraries/utilities/git_revision.cpp

libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/wallet/api_documentation.cpp
libraries/chain/include/graphene/chain/hardfork.hpp
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/cli_wallet/cli_wallet
programs/delayed_node/delayed_node
programs/genesis_util/convert_address
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/js_operation_serializer/js_operation_serializer
programs/network_mapper/network_mapper
programs/size_checker/size_checker
programs/witness_node/witness_node
witness_node_data_dir/.DS_Store
npm
operations.input
config.ini
.DS_Store
genesis-dev.json
operations.js
