*.a
*.sw*
*.vscode/
*.cmake
results.txt
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc
!libraries/fc/**

libraries/fc/*.slo
libraries/fc/*.lo
libraries/fc/*.o
libraries/fc/*.obj

libraries/fc/*.so
libraries/fc/*.dylib
libraries/fc/*.dll

libraries/fc/*.lai
libraries/fc/*.la
libraries/fc/*.a
libraries/fc/*.lib

libraries/fc/*.sln
libraries/fc/*.vcxproj
libraries/fc/ALL_BUILD
libraries/fc/ZERO_CHECK

libraries/fc/*.suo
libraries/fc/*.vcxproj.filters
libraries/fc/*.vcxproj.user
libraries/fc/*.pdb
libraries/fc/*.ilk
libraries/fc/*.lastbuildstate
libraries/fc/*.sdf
libraries/fc/*.opensdf
libraries/fc/Debug/
libraries/fc/Release/

libraries/fc/CMakeCache.txt
libraries/fc/CMakeFiles
libraries/fc/Makefile
libraries/fc/cmake_install.cmake
libraries/fc/*.cbp

libraries/fc/libfc.a
libraries/fc/libfc_debug.a

libraries/fc/*.sw*

libraries/fc/fc_automoc.cpp
libraries/fc/git_revision.cpp
libraries/fc/GitSHA3.cpp

libraries/fc/task_cancel_test

witness_node_data_dir
programs/witness_node/witness_node_data_dir
programs/witness_node/my-wallet.json

libraries/fc/vendor/secp256k1-zkp/src/project_secp256k1-*
libraries/fc/vendor/secp256k1-zkp/src/*.in
libraries/fc/vendor/secp256k1-zkp/src/*.in~

libraries/fc/vendor/editline/src/Makefile.in
libraries/fc/vendor/editline/src/project_editline-*
libraries/fc/vendor/editline/project_editline-build/Makefile 
libraries/fc/vendor/editline/autom4te.cache/requests

libraries/fc/CMakeFiles/**
libraries/fc/git_revision.cpp
libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/wallet/api_documentation.cpp
libraries/chain/include/graphene/chain/hardfork.hpp
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/cli_wallet/cli_wallet
programs/delayed_node/delayed_node
programs/genesis_util/convert_address
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/js_operation_serializer/js_operation_serializer
programs/network_mapper/network_mapper
programs/size_checker/size_checker
programs/witness_node/witness_node
witness_node_data_dir/.DS_Store
npm
operations.input
config.ini
.DS_Store
genesis-dev.json
operations.js
TODO
my-wallet.json
testcases
libraries/fc/git_revision.cpp
libraries/fc/git_revision.cpp
libraries/fc/vendor/editline/config.h.in
libraries/fc/vendor/editline/Makefile.in
libraries/fc/vendor/editline/autom4te.cache/requests
libraries/fc/vendor/secp256k1-zkp/autom4te.cache/requests
libraries/fc/git_revision.cpp
